@charset "utf-8";

//색상표
$content-black-color: #242424;
$content-green-color: #03c75a;
$content-green-dark-color: #09b65a;
$content-dark-green: #09b65a;
$content-gray-color: #8f8f8f;
$content-blue-color: #007cd9; // 금융컬러
$point-blue-color: #24a2f6;
$point-red-color: #ff5252;
$content-bank-color: #009ac7;
$mycar-color: #0081e3; // 마이카 테마 색상
$content-remit-color: #09aa5c;
$ui-green-color: #09aa5c;
$membership-green-color: #01c260;
$ui-black-color: #1e1e23;
$sme-mirae-color: #f58220;
$sme-woori-color: #0067ac;
$sme-jb-color: #00286c;

//폰트 굵기
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-ultrabold: 900;

$PC-font: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, '나눔고딕', NanumGothic, sans-serif;
