@import '../../scss/utils.scss';

.button-close {
    @extend %button_reset;

    height: 100%;
    padding: 13px 11px;
    cursor: pointer;
}
.button-back {
    @extend .button-close;

    padding-left: 12px;
    .text {
        position: relative;
        display: block;
        padding: 4px 0 4px 17px;
        font-size: 16px;
        font-weight: $font-weight-medium;
        line-height: 22px;
        color: #222;
        &:before {
            @include squareBracketsRight(11px, 11px, #1e1e23, left);

            content: '';
            position: absolute;
            top: 50%;
            left: 4px;
            margin-top: -6px;
        }
    }
}
.bi {
    padding: 20px 0 0 20px;
    &.type-mirae {
        padding-top: 12px;
    }
}
