@import '../scss/utils.scss';

.article {
    a {
        text-decoration: underline;
        color: #767678;
    }
}
.item {
    position: relative;
    padding-left: 8px;
    font-size: 14px;
    line-height: 20px;
    color: #767678;
    &:before {
        content: '';
        position: absolute;
        top: 9px;
        left: 0;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #767678;
    }
    .type-main-list & + & {
        margin-top: 7px;
    }
}
