@import '../scss/utils.scss';

.article {
    @include flex-container;
    @include align-items(center);

    padding: 0 4px;
}
.title {
    font-size: 18px;
    line-height: 24px;
    color: #222;
}
.link {
    display: inline-block;
    margin-left: auto;
    font-size: 13px;
    line-height: 16px;
    text-decoration: underline;
    color: #222;
}
