@import '../scss/utils';

.article {
    position: relative;
    .button {
        @extend %button_reset;
        @extend %ui-green-color-button;
    
        width: 100%;
        border-radius: 4px;
        font-size: 17px;
        font-weight: $font-weight-bold;
        line-height: 50px;
        color: #fff;
        cursor: pointer;
    }
    .tooltip {
        @include absoluteX(auto);

        bottom: 100%;
        z-index: 10;
        margin: 0 0 -7px 99px;
        white-space: nowrap;
        padding: 5px 10px 4px;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        background-color: #2c333a;
        font-weight: $font-weight-bold;
        line-height: 20px;
        vertical-align: top;
        color: #fff;
        &:after {
            @include makeTriangle(top, 8px, 4px, #2c333a);
            @include absoluteX(100%);
            
            content: '';
        }
    }
    .point {
        color: #3ce085;
    }
}
